In [40]:
import pandas as pd
import glob
import dask.dataframe as dd

In [3]:
data = pd.read_csv(r'C:\Users\ty_ma\repository\IR-Project\Clean-Data-01.txt', sep="\t", header=None)
data.columns = ["session_id", "query", "datetime"]
len(data)

data2 = pd.read_csv(r'C:\Users\ty_ma\repository\IR-Project\Clean-Data-02.txt', sep="\t", header=None)
data2.columns = ["session_id", "query", "datetime"]
len(data2)

data3 = pd.read_csv(r'C:\Users\ty_ma\repository\IR-Project\Clean-Data-03.txt', sep="\t", header=None)
data3.columns = ["session_id", "query", "datetime"]
len(data3)

data4 = pd.read_csv(r'C:\Users\ty_ma\repository\IR-Project\Clean-Data-04.txt', sep="\t", header=None)
data4.columns = ["session_id", "query", "datetime"]
len(data4)

data5 = pd.read_csv(r'C:\Users\ty_ma\repository\IR-Project\Clean-Data-05.txt', sep="\t", header=None)
data5.columns = ["session_id", "query", "datetime"]
len(data5)

834358

In [4]:
print(len(data))
print(len(data2))
print(len(data3))
print(len(data4))
print(len(data5))

761993
773892
791029
781087
834358

In [5]:
data = data.append(data2)
data = data.append(data3)
data = data.append(data4)
data = data.append(data5)

In [6]:
print(len(data))

3942359

In [8]:
data[:5]
data.drop(data.index[0])

,session_id,query,datetime
1,142,merit release appearance,2006-04-22 23:51:18
2,217,lottery,2006-03-01 11:58:51
3,217,lottery,2006-03-27 14:10:38
4,217,vietnam,2006-05-22 17:43:42
5,217,vietnam,2006-05-22 18:03:24
6,1268,gall stones,2006-05-11 02:12:51
7,1268,gallstones,2006-05-11 02:13:02
8,1326,files,2006-03-01 17:36:08
9,1326,pop up adds,2006-03-15 20:07:38
10,1326,pop up adds,2006-03-15 20:08:29
11,1326,the childs wonderland company,2006-03-21 11:50:10
12,1326,the child's wonderland company,2006-03-21 11:59:03
13,1326,the child's wonderland company,2006-03-21 12:00:55
14,1326,the child's wonderland company grand rapids mi...,2006-03-21 12:01:24
15,1326,budget truck rental,2006-03-24 18:27:07
16,1326,holiday mansion houseboat,2006-03-29 17:14:01
17,1326,back to the future,2006-04-01 17:59:28
18,1326,holiday mansion houseboat,2006-04-06 20:20:43
19,1326,the childs wonderland company,2006-04-11 17:25:27
20,1326,jet blue airlines,2006-04-27 15:29:05
21,1337,select business services,2006-03-14 15:51:41
22,1337,select business services title,2006-03-14 15:52:10
23,1337,cbc companies,2006-03-14 15:52:44
24,1337,national real estate settlement services,2006-03-14 15:59:13
25,1337,pennsylvania real estate settlement services,2006-03-14 16:04:40
26,1337,pennsylvania real estate settlement services,2006-03-14 16:05:11
27,1337,chesapeake appraisal and settlement services,2006-03-15 13:51:52
28,1337,first american lenders advantage,2006-03-22 16:05:56
29,1337,first american chesapeake,2006-03-22 16:11:31
30,1337,first american chesapeake title services,2006-03-22 16:11:50
...,...,...,...
834328,24949536,poland spring water,2006-05-31 07:33:44
834329,24949536,poland spring water,2006-05-31 07:57:44
834330,24949536,poland spring water,2006-05-31 08:17:54
834331,24950004,google,2006-05-31 20:56:12
834332,24951220,my space,2006-05-31 00:39:58
834333,24954268,win for life,2006-05-31 09:44:12
834334,24955108,odd gifts,2006-05-31 06:47:27
834335,24955108,elegant gifts for her,2006-05-31 06:56:10
834336,24956559,used cars,2006-05-31 09:21:53
834337,24956559,kelly blue book,2006-05-31 14:05:12
834338,24956559,kelly blue book,2006-05-31 14:23:07
834339,24956559,kelly blue book,2006-05-31 14:36:23
834340,24956559,kelly blue book,2006-05-31 14:48:57
834341,24956559,kelly blue book,2006-05-31 15:45:57
834342,24956559,long beach acceptance,2006-05-31 21:35:03
834343,24958822,clenbuterol,2006-05-31 03:58:10
834344,24960115,nys lottery,2006-05-31 13:15:09
834345,24960115,mega millions,2006-05-31 13:16:25
834346,24962214,anderson county jail cam,2006-05-31 18:05:23
834347,24962262,omega psi phi,2006-05-31 01:27:11
834348,24962433,lotions and lace,2006-05-31 02:30:10
834349,24962433,rabbit vibrator,2006-05-31 02:31:46
834350,24962433,rabbit vibrator,2006-05-31 02:33:06
834351,24962537,chap hotels,2006-05-31 17:44:50
834352,24963973,clergy vestments,2006-05-31 21:18:12
834353,24963973,united church of christ clergy stoles,2006-05-31 21:54:09
834354,24963973,national cathedral gift store,2006-05-31 21:58:42
834355,24965114,weather,2006-05-31 21:17:04
834356,24965131,dictionary,2006-05-31 22:34:16
834357,24967039,vienna state opera,2006-05-31 13:59:45

In [16]:
data = data.drop([0])

In [17]:
data[:5]

  session_id                     query             datetime
1        142  merit release appearance  2006-04-22 23:51:18
2        217                   lottery  2006-03-01 11:58:51
3        217                   lottery  2006-03-27 14:10:38
4        217                   vietnam  2006-05-22 17:43:42
5        217                   vietnam  2006-05-22 18:03:24

In [42]:
data.groupby('session_id')

MemoryError: